scratch
lib/*.pyc
lib/UI/*.pyc
lib/cloud/*.pyc
lib/console/*.pyc
lib/utils/*.pyc
lib/configurations/*.pyc
.idea
lib/__pycache__
lib/UI/__pycache__
work
save
lib/cloud/__pycache__
lib/configurations/__pycache__
lib/console/__pycache__
lib/utils/__pycache__
